body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1rem;
}

.llistat {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 250px;
}

.detall {
  padding: 1rem;
}
.fitxa {
    width: 400px;
    margin: 0 auto; 
}

.fitxa img {
  width: 250px;
  height: auto;
}

/* @media (max-width: 768px) {
  .llistat {
    flex-direction: column;
    align-items: center;
  } */
