body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1rem;  
}

.encabezado {
    background-color:midnightblue;
    color:ghostwhite;
}

.llistat div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 250px;
  
}

header h1 {
    font-size: 4rem;
    text-align: center;
}
.detall {
  width: 400px;
  margin: 0 auto; 
}
.fitxa {
    transition: box-shadow 0.3s ease;
    background-color:#f5e8e8;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;

}
.fitxa h1 {
    text-align: center;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
}
/* @media (max-width: 768px) {
  .llistat {
    flex-direction: column;
    align-items: center;
  } */
