body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 1rem;
  background-color: tan;
  
}

.encabezado {
    background-color:midnightblue;
    color:ghostwhite;
}

.llistat div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  max-width: 250px;
}

.detall {
  padding: 1rem;
}
.fitxa {
    width: 400px;
    margin: 0 auto; 
}

.fitxa img {
  width: 500px;
  height: auto;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
}
/* @media (max-width: 768px) {
  .llistat {
    flex-direction: column;
    align-items: center;
  } */
